html {
	font-family: "open sans", "helvetica", "sans-serif";
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	background-color: #303030;
}

p {
	margin: 0;
}

#map-con {
	height: 100%;
	width: 100%;
	min-width: 400px;
}

#pie-con {
	height: 100%;
	width: 100%;
}

/*=================
=== Layout
=================*/
.container {
	display: flex;
	height: 100%;	
}

.container-map {
	flex: 1;
	height: 100%;
	// height: 80%;
	width: 80%;
	min-width: 400px;
}

.container-utility {
	display: flex;
	flex: 1;
	flex-direction: column;
	max-width: 15em;
	padding: 1em;

	background: #3a3a3a;
	border-left: 2px solid gold;
	// border-left: 3px solid #9f9f9f;
	color: #fff;

	> p {
		margin-bottom: 1em;
	}
}

/*=================
=== Map styling
=================*/
.mapLegend {
	fill: #fff;
}


/*=================
=== Filters styling
=================*/

.container-filter {
	display: flex;
	// flex: 2;
	flex-wrap: wrap;

	> button {
		flex: 1;
		min-width: 5.5em;
		margin: 0 .2em;
		margin-bottom: 3px;
		border: 1px solid gold;
		border-radius: 2px;
		padding: 0.3em;
		background: transparent;
		color: #fff;

		transition: background-color .2s ease-in;

		&:hover {
			background-color: gold;
			color: #3a3a3a;
		}
	}
}

// .location {
// 	pointer-events: none;
// }

.location-detail {
	flex: 1;
	margin: 0.8em 0;
	border: 1px solid gold;
	border-radius: 2px;
	padding: 1em;
	background-color: #3a3a3a; // For the tooltip if we will use it
	color: #fff;
	p {
		margin-bottom: 0.3em;
	}
	span {
		font-weight: 300;
	}
	// background: red;
	// height: 200px;
	// width: 200px
}

.imagePl {
	/* width:  */
	margin-top: 1em;
	height: 5em;
	border: 1px solid gold;
}

/*=================
=== Piechart
=================*/

.container-pie {
	flex: 1;
	border: 1px solid gold;
	border-radius: 2px;
}

/*=================
=== Legend styling
=================*/
.legend {
	font-size: 10px;
	text-anchor: end;
}

/*=================
=== From 
=================*/
.states {
	fill: #6f6f6f;
	path {
		transition: fill .2s ease-in;
		&:hover {
			fill: #8f8f8f;
		}
	}
}

.state-borders {
	fill: none;
	stroke: #fff;
	stroke-width: 0.5px;
	stroke-linejoin: round;
	stroke-linecap: round;
	pointer-events: none;
}

.state-label {
	fill: #fff;
	font-weight: 700;
	font-size: .7em;
}




/*=================
=== Testing
=================*/
.hide {
	display: none;
}
.hideC {
	display: none;
}
